/* Dashboard */
.dashboard{
  text-align: center;
  padding: 10px;
  font-size: 40px;
  font-family: 'Rubik Glitch', cursive;
}
.management{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'Lora', serif;
  margin: 30px;
  padding:20px;
}
.Card{
  padding: 20px;
}